---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - python
  - javascript

toc_footers:
  - <a href="/praava-patient-portal">Currnet</a> <a href="/praava-patient-portal/v1">V1</a>

# includes:
#   - errors

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Patient Portal API
---

<%= partial "./apis/v1/v1.html.md.erb" %>

